body{
    margin: -30px;  
    font-family:    Arial, Helvetica, sans-serif;
    background-color: rgba(140, 90, 139);
}


header  {
    background-color: rgba(140, 90, 139);
    color : white;
    padding: 20px;
}

.header-top{
    display: flex;
    margin: 0;
    justify-content: space-between;
    background-color: rgba(140, 90, 139);
    color : white;
    padding: 20px;
}


.header-bottom{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(140, 90, 139);
    color : white

}
nav ul  {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 15px;
    background-color: rgba(140, 90, 139);
    color : white
}

nav a  {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgba(140, 90, 139);
}

button{
    background-color: aqua ;
    border: none;
    padding: 8px 18px;
}
main{
    background-color: rgba(140, 90, 139);
    padding: 30px;
    text-align:     center;
    color : white;
    justify-content: space-between ;
}
.child-1{  
    background-color:rgba(84, 172, 140);
    padding: 30px;
    text-align:     center;
    color : white;
    overflow-y: scroll;
    width: 100%;
    justify-self: space-between ;
}
.child-2{  
    background-color:rgb(72, 85, 137);
    padding: 30px;
    text-align:     center;
    color : white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    justify-content: space-between ;
}
footer{
    background-color: rgba(140, 90, 139);  
    color : white;
    padding: 30px;
    text-align: center;
}

input, textarea{
    padding: 5px;
    width: 250px;
    margin: 5px;
} 
.social-media {
    list-style:none;
    display: flex;
    justify-content: center;
    padding: 0;
}    

@media (min-width: 500px) and (max-width: 800px) {
    
    main, .child-1, .child-2,body, header, .header-top, .header-bottom, nav ul, nav a, button, footer{
        background-color: aqua;
        color: black;
    }
#shitten{
    transform: scale(1);
    transition: .3s ease-in-out;
}

#shitten:hover{
    transform: scale(1.5);
}
}
